@import "libs/fonts";
@import "libs/slick";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "blocks/main";
@import "blocks/about";
@import "blocks/music";
@import "blocks/contacts";
@import "blocks/galery";
