.wrapper .menu {
  z-index: 10;
}

.main-wrapper {
  //   width: 100vw;
  background-color: rgb(9, 9, 9);
  display: grid;
  grid-template-columns: minmax(558px, 1fr) minmax(865px, 1fr);

  &-left {
    padding: 70px 0;
    display: grid;
    grid-template-rows: 600px 300px;
    row-gap: 30px;
    justify-content: center;
    //  width: 558px;
    //  height: 100vh;
    background: url(../img/Left_background.png) center center/cover no-repeat;
    border-right: 6px solid black;
    .logo {
      position: relative;
      font-family: "Rubik Distressed";
      display: flex;
      margin: 0 auto;
      width: 330px;
      flex-direction: column;
      align-items: center;

      &__tittle {
        color: #ff0404;
        font-size: 118px;
        text-align: right;
        z-index: 2;
      }
      &__subtittle {
        width: 100px;
        position: absolute;
        top: 50px;
        left: -22px;
        color: #fff;
        font-size: 58px;
        transform: rotate(-90deg);
        z-index: 2;
      }
      &__divider {
        width: 90px;
        height: 2px;
        background-color: #ff0404;
        position: absolute;
        top: 135px;
        left: 150px;
      }
      &__img {
        position: relative;
        display: block;
        margin-top: 20px;
        z-index: 2;
        &-bg {
          position: absolute;
          top: 223px;
          left: -66px;
          z-index: 3;
        }
        &-cargo {
          position: absolute;
          top: 255px;
          z-index: 1;
          img {
            width: 100%;
          }
        }
      }
    }
    .stop {
      position: relative;
      img {
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 3;
      }
      &__tittle {
        color: #ff0404;
        font-family: "SeoulHangang";
        font-size: 55px;
        position: absolute;
        top: 85px;
        left: 45px;
        z-index: 1;
      }
    }
  }
  &-right {
    position: relative;
    display: grid;
    grid-template-columns: 865px;
    grid-template-rows: 553px 514px;
    //  width: 875px;
    background: url(../img/Right-bg.png) center center/cover no-repeat;
    &-top {
      display: flex;
      justify-content: center;
    }
    // .menu {
    //   cursor: pointer;
    //   margin: 0 auto;
    //   width: 820px;
    //   display: flex;
    //   justify-content: space-around;
    //   align-items: center;
    //   font-family: "RubikBubbles";
    //   position: fixed;
    //   top: 10px;
    //   font-size: 26px;
    //   list-style-type: none;
    //   z-index: 10;
    //   &__item {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 170px;
    //     height: 65px;
    //     text-align: center;
    //     background: center/cover no-repeat;
    //     transition: all 0.6s;

    //     a {
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       width: 160px;
    //       height: 65px;
    //       text-decoration: none;
    //       color: #fff;
    //       &:hover {
    //         color: #ff0404;
    //       }
    //     }
    //     &:hover {
    //       color: #ff0404;
    //       transition: all 0.6s;
    //       transform: translateY(30px) scale(1.2);
    //     }
    //   }
    //   &__item-1 {
    //     background-image: url(../img/item_1bg.svg);
    //   }
    //   &__item-2 {
    //     width: 140px;
    //     height: 27px;
    //     background-image: url(../img/item_2bg.svg);
    //   }
    //   &__item-3 {
    //     width: 174px;
    //     height: 47px;
    //     background-image: url(../img/item_3bg.svg);
    //   }
    //   &__item-4 {
    //     width: 185px;
    //     height: 50px;
    //     background-image: url(../img/item_4bg.svg);
    //   }
    //   &__item-5 {
    //     width: 200px;
    //     height: 70px;
    //     background-image: url(../img/item_5bg.svg);
    //   }
    // }
    .group {
      width: 865px;
      position: absolute;
      top: 282px;
      img {
        width: 100%;
      }
    }
    .fire {
      img {
        width: 100%;
      }
    }
    .main-wrapper-right-bottom {
      display: flex;
      flex-direction: column;
      position: relative;
      background: url(../img/Right_background.png) center center/cover no-repeat;
      border-top: 6px solid black;
      .slider-wrapper {
        width: 860px;
        height: 200px;
        img {
          width: 100%;
        }
      }
      .slider {
        display: block;
        position: absolute;
        width: 860px;
        height: 200px;
        img {
          width: 60px;
        }
      }
      .slick-list.draggable {
        width: 860px;
        height: 200px;
        .slick-track {
          height: 200px;
          .slick-slide {
            img {
              position: absolute;
              top: 48px;
              width: 172px;
              height: 113px;
              border-right: 1px solid black;
            }
          }
        }
      }
      .news {
        position: absolute;
        top: 215px;
        left: 165px;
        &__tittle {
          font-family: "RubikMonoOne";
          color: rgba(255, 255, 255, 0.731);
          font-size: 26px;
          position: absolute;
          top: 25px;
          left: 130px;
        }
        &__descr {
          width: 550px;
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          position: absolute;
          top: 90px;
          left: 80px;
          color: #fff;
          font-size: 20px;
          li {
            list-style-type: none;
          }
        }
      }
    }
  }
  .footer {
    padding: 10px 30px;
    width: 675px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #520000;
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    z-index: 6;
    &__logo {
      width: 35px;
      position: relative;
      &::before {
        content: "";
        width: 38px;
        height: 38px;
        position: absolute;
        top: -12px;
        left: -6px;
        border: 4px solid black;
        border-radius: 50%;
      }

      img {
        width: 100%;
      }
    }
    &__com {
      color: #000;
      font-family: "SeoulHangang";
      font-size: 20px;
    }
    &__socials {
      width: 130px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 25px;
      }
    }
  }
}
