@media (max-width: 1439px) {
  .main-wrapper {
    grid-template-columns: minmax(515px, 1fr) minmax(800px, 1fr);
    &-right {
      grid-template-columns: minmax(160px, 800px);
      grid-template-rows: 490px 574px;
      .menu {
        width: 700px;
        flex-wrap: wrap;
        &__item-5 {
          margin-top: 25px;
        }
      }
      .group {
        top: 220px;
        // left: -83px;
        right: 0;
      }
      .main-wrapper-right-bottom {
        .news {
          left: 88px;
        }
        .slick-list.draggable .slick-track .slick-slide {
          img {
            top: 43px;
          }
        }
      }
    }
  }
  .main-wrapper-right .main-wrapper-right-bottom .slider-wrapper {
    width: 100%;
  }
  .main-wrapper-right .main-wrapper-right-bottom .slider {
    width: 100%;
  }
  .main-wrapper-right .main-wrapper-right-bottom .slick-list.draggable {
    width: 100%;
  }
}

.wrapper {
  .music {
    width: 100%;
    &__img {
      margin-left: 35px;
    }
    &__tracks {
      margin-left: 40px;
    }
    &__albums {
      &-tittle {
        font-size: 25px;
      }
      &-items {
        font-size: 20px;
      }
      &-item {
        width: 500px;
        audio {
          width: 300px;
        }
      }
    }
  }
  .galery {
    &__img {
      margin-left: 20px;
    }
    &__photos {
      width: 839px;
    }
  }
  .contacts {
    grid-template-columns: 400px 600px;
  }
}

@media (max-width: 1199px) {
  .main-wrapper {
    grid-template-columns: minmax(410px, 1fr) minmax(670px, 1fr);
    &-right {
      grid-template-columns: minmax(160px, 1fr);
      grid-template-rows: 417px 650px;
      .group {
        top: 146px;
        // left: -198px;
      }
    }
    .main-wrapper-right-bottom {
      .news {
        width: 80%;
        left: 60px;
        img {
          width: 100%;
        }
        &__descr {
          width: 450px;
        }
      }
      .slick-list.draggable .slick-track .slick-slide {
        img {
          top: 32px;
          width: 135px;
          height: 93px;
        }
      }
    }
  }

  .wrapper {
    .red-man {
      left: 30px;
      right: 0;
    }
    .galery {
      &__photos {
        width: 660px;
      }
    }
    .contacts {
      grid-template-columns: 400px 500px;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper .red-man {
    bottom: 65px;
  }
  .main-wrapper {
    &-right {
      .menu {
        width: 660px;
      }
    }

    .wrapper {
      .galery {
        &__photos {
          width: 640px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .wrapper .menu {
      flex-direction: column;
      justify-content: center;
      width: 50%;
      background-color: #bc0000db;
      left: -50%;
      top: 0;
      height: 100%;
      transition: all 0.6s;
      &-active {
        left: 0;
        transition: all 0.6s;
      }
      &__item {
        transition: all 0.6s;
        margin-bottom: 10px;
        &:hover {
          transition: all 0.6s;
          transform: translateY(0px) scale(1.2);
        }
      }
      &__item-5 {
        margin-top: 0;
      }
      &__hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 30px;
        transition: all 0.6s;
        span {
          margin-bottom: 7px;
          display: block;
          width: 31px;
          height: 4px;
          background-color: red;
          transition: all 0.6s;
        }
        &-active {
          transition: all 0.6s;
          span {
            margin-bottom: -4px;
            &:nth-child(1) {
              transform: rotate(-45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    .main-wrapper {
      grid-template-columns: minmax(100px, 992px);
      .menu {
        flex-direction: column;
        justify-content: center;
        width: 50%;
        background-color: #bc0000db;
        left: -50%;
        top: 0;
        height: 100%;
        transition: all 0.6s;
        &-active {
          left: 0;
          transition: all 0.6s;
        }
        &__item {
          transition: all 0.6s;
          margin-bottom: 10px;
          &:hover {
            transition: all 0.6s;
            transform: translateY(0px) scale(1.2);
          }
        }
        &__item-5 {
          margin-top: 0;
        }
        &__hamburger {
          display: block;
          width: 30px;
          height: 30px;
          position: absolute;
          top: -1030px;
          right: 30px;
          transition: all 0.6s;
          span {
            margin-bottom: 7px;
            display: block;
            width: 31px;
            height: 4px;
            background-color: red;
            transition: all 0.6s;
          }
          &-active {
            transition: all 0.6s;
            span {
              margin-bottom: -4px;
              &:nth-child(1) {
                transform: rotate(-45deg);
              }
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
      .main-wrapper-right-bottom {
        .slick-list.draggable .slick-track .slick-slide {
          img {
            top: 43px;
            width: 162px;
            height: 119px;
          }
        }
      }
    }
    .wrapper {
      .music {
        flex-direction: column;
        &__img {
          margin: 20px auto;
          width: 200px;
          img {
            width: 100%;
          }
        }
        &__tracks {
          margin: 20px auto;
          width: 400px;
        }
      }
      .galery {
        width: 100%;
        flex-direction: column;
        &__img {
          margin: 20px auto;
          width: 200px;
          img {
            width: 100%;
          }
        }
        &__photos {
          margin: 0 auto 270px auto;
        }
      }
      .contacts {
        margin-top: 30px;
        height: 1300px;
        grid-template-columns: 600px;
        &__img {
          margin: 20px auto;
          width: 150px;
          img {
            width: 100%;
          }
        }
        &__image {
          margin: 0 auto;
          width: 100%;
        }
        &__contact-us {
          margin: 0 auto;
        }
        &__block-arrow {
          transform: rotate(90deg);
          margin: 0 auto 50px auto;
          width: 180px;
        }
        &__block-in {
          margin: 10px auto;
          width: 210px;
          position: static;
          button {
            border: 2px solid black;
          }
        }
      }
      .about {
        flex-direction: column;
        margin: 30px auto 270px auto;
        &__img {
          width: 80%;
          margin: 0 auto;
        }
        &__descr {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .wrapper .footer {
      width: 100%;
    }
    .main-wrapper {
      .main-wrapper-right-bottom {
        .slick-list.draggable .slick-track .slick-slide {
          img {
            top: 38px;
            width: 168px;
            height: 110px;
          }
        }
      }

      .footer {
        width: 100%;
      }
    }
  }
  @media (max-width: 576px) {
    .main-wrapper {
      .menu__hamburger {
        width: 25px;
        height: 25px;

        span {
          width: 25px;
          height: 2px;
        }
        &-active {
          span {
            margin-bottom: -2px;
          }
        }
      }
      &-right {
        grid-template-rows: 266px 650px;
        .group {
          top: 133px;
          width: 100%;
        }
      }
      .main-wrapper-right-bottom {
        .news {
          img {
            height: 260px;
          }
          &__tittle {
            font-size: 20px;
          }
          &__descr {
            width: 270px;
          }
        }
        .slick-list.draggable .slick-track .slick-slide {
          img {
            top: 31px;
            width: 116px;
            height: 82px;
          }
        }
      }
      .main-wrapper-right-bottom {
        .news {
          img {
            height: 260px;
          }
          &__tittle {
            font-size: 18px;
          }
          &__descr {
            width: 270px;
            font-size: 16px;
            left: 44px;
          }
        }
        .slick-list.draggable .slick-track .slick-slide {
          img {
            top: 22px;
            width: 87px;
            height: 58px;
          }
        }
      }
      .footer {
        padding: 10px 17px;
      }
    }
    .wrapper {
      .menu__hamburger {
        width: 25px;
        height: 25px;

        span {
          width: 25px;
          height: 2px;
        }
        &-active {
          span {
            margin-bottom: -2px;
          }
        }
      }
      .music {
        margin-bottom: 250px;
        &__albums-item {
          width: 410px;
          audio {
            width: 225px;
          }
        }
      }
      .galery {
        &__photos {
          width: 420px;
        }
      }
    }
    .modal {
      .button {
        border: 2px solid black;
      }
    }
    .footer {
      padding: 10px 17px;
    }
    .main-wrapper-right-bottom {
      .news {
        img {
          height: 260px;
        }
        &__tittle {
          font-size: 20px;
        }
        &__descr {
          width: 270px;
        }
      }
      .slick-list.draggable .slick-track .slick-slide {
        img {
          top: 24px;
          width: 87px;
          height: 58px;
        }
      }
    }
  }
}
